/* App.css - Estilos Específicos */
.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Estilos para o Header */
.header {
  background-color: var(--cor-2);
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header nav ul {
  display: flex;
  gap: 15px;
}

.header nav ul li a {
  color: var(--cor-4);
  font-weight: bold;
  transition: color 0.3s ease;
}

.header nav ul li a:hover {
  color: var(--cor-3);
}

/* Estilos para a Logo */
.logo img {
  max-width: 100px;
}

/* Estilos para a Home */
.home {
  display: flex;
  padding:0px;
  background-color: var(--cor-1);
  flex: 1;
  padding: 10px;
  border: 1px solid var(--cor-1);
  
  
}

.coluna {
  padding: 0px;
  background-color: var(--cor-6);
  flex: 1;
  padding: 0px;
  border: 6px solid var(--cor-1);
  border-radius: 30px;
  text-align: center;
  ;
 
}

.home h2 {
  margin-bottom: 10px;
  
}

.home p {
  font-size: 18px;
}


/* Estilos para o Atendimento */
.atendimento {
  padding: 20px;
  background-color: var(--cor-6);
  border: 4px solid var(--cor-1);

}

.atendimento h2 {
  margin-bottom: 15px;
}

.buttons {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}

.buttons button {
  flex: 1;
  min-width: 150px;
}

.queuedisplay {
  margin-top: 20px;
  font-size: 22px;
  font-weight: bold;
  text-align: center;
}

/* Estilos para o Footer */
.footer {
  background-color: var(--cor-4);
  padding: 10px;
  text-align: center;
  color: var(--cor-2);
}
